<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">

  <title>Maven + Spring Boot + VueJS example</title>
  <meta name="description" content="BurgerJointsInTartu">
  <meta name="author" content="ajakupson">

  <link rel="stylesheet" th:href="@{/front-end/assets/css/main.css}">
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>

</head>

<body>
  <div id="app" class="app-container"></div>
    <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="https://unpkg.com/opencage-api-client@0.3.0/dist/opencage-api.min.js"></script>
  
  <script th:src="@{/front-end/vuejs-app/build/main.bundle.js}"></script>
</body>
</html>